.u-section-1 .u-sheet-1 {
  min-height: 594px;
}

.u-section-1 .u-text-1 {
  margin: 170px auto 0 215px;
}

.u-section-1 .u-text-2 {
  margin: 26px auto 0 215px;
}

.u-section-1 .u-form-1 {
  height: 141px;
  margin: 17px 365px 60px 205px;
}

.u-section-1 .u-form-group-1 {
  margin-left: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-form-1 {
    margin-right: 265px;
    margin-left: 105px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-form-1 {
    margin-right: 150px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-left: 161px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 161px;
  }

  .u-section-1 .u-form-1 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    margin-left: 101px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 101px;
  }
}