.u-section-1 .u-sheet-1 {
  min-height: 670px;
}

.u-section-1 .u-text-1 {
  margin: 200px auto 0 303px;
}

.u-section-1 .u-text-2 {
  margin: 13px auto 0 303px;
}

.u-section-1 .u-form-1 {
  height: 203px;
  width: 570px;
  margin: 0 auto 60px;
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-left: 232px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 232px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-left: 174px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 174px;
  }

  .u-section-1 .u-form-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    margin-left: 110px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 110px;
  }

  .u-section-1 .u-form-1 {
    width: 340px;
  }
}